<template name="signin">

    <h2 style="margin-left: 10px">Sign In</h2>
    <p style="margin-left: 10px">ID:<input name="username" type="text" placeholder="아이디" style="margin-left: 10px"/></p>
    <p style="margin-left: 10px">E-mail:<input name="email" type="Email" placeholder="이메일" style="margin-left: 10px"/></p>
    <p style="margin-left: 10px">Name:<input name="name" type="text" placeholder="이름" style="margin-left: 10px"/></p>
    <p style="margin-left: 10px">Password:<input name="password" type="{{type_change}}" placeholder="비밀번호" style="margin-left: 10px"/></p>
    <p style="margin-left: 10px">Password Check:<input name="password2" type="{{type_change}}" placeholder="비밀번호 확인" style="margin-left: 10px"/></p>

      <p>
        <label><input id="password_check" type="checkbox" style="margin-left: 10px">비밀번호 표시</label>
      </p>
        <button id="button_sign" class="sign">
          Sign in
        </button>
        <a href="/" class='cancel2' type="button" >
          Cancel
        </a>


</template>