<template name="signin">

  <div>
    <br/><br/><br/>
    <h1>Sign In</h1>
    <p>ID:<input name="username" type="text" placeholder="your@email.com"/></p>
    <p>Email:<input name="email" type="Email"/></p>
    <p>Name:<input name="name" type="text"/></p>
    <p>Password:<input name="password" type="{{type_change}}" /></p>
    <p>Password Check:<input name="password2" type="{{type_change}}"/></p>

      <p>
        <label><input id="password_check" type="checkbox">비밀번호 표시</label>
      </p>
        <button id="button_sign" type="button">
          Sign in
        </button>
        <a href="/" type="button" >
          Cancel
        </a>
  </div>

</template>