* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.c-paragraph{
  font-weight: lighter;
}
#back {
  background: bisque;
}

#logout {
  margin: 5px;
  float: right;
  align-items: center;
}

#login {
  margin: 5px;
  float: right;
  align-items: center;
}

#signin {
  margin: 5px;
  float: right;
  align-items: center;
}

#header-right {
  opacity: 1.2;
  font-weight: bold;
  background-color: #bbbbbb;
  font-size: 21px;
  color: white;
  padding: 20px;
  background: linear-gradient(
      to left,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.25) 25%,
      rgba(20, 20, 20, 0.5) 50%,
      rgba(20, 20, 20, 0.75) 75%,
      rgba(20, 20, 20, 1) 100%
  ), url("https://www.cre-verse.io/images/news/news4.jpg");
  /*background-image: url("https://www.cre-verse.io/images/news/news4.jpg");*/
}

.check {
  width: 235px;
  height: 40px;
  line-height: 40px;
  border:none;
  font-weight: bold;
  color: white;
  background-color:rebeccapurple;
  text-align:center;
  cursor: pointer;

}

.cancel{
  margin: 40px;
  width: 235px;
  height: 40px;
  line-height: 40px;
  border:none;
  font-weight: bold;
  color: white;
  background-color:rebeccapurple;
  text-align:center;
  cursor: pointer;
}

.sign{
  width: 235px;
  height: 40px;
  line-height: 40px;
  border:none;
  font-weight: bold;
  color: white;
  background-color:rebeccapurple;
  text-align:center;
  cursor: pointer;
}

.cancel2{
  width: 235px;
  height: 40px;
  line-height: 40px;
  border:none;
  font-weight: bold;
  color: white;
  background-color:rebeccapurple;
  text-align:center;
  cursor: pointer;
}

.go_to_work_list {
  padding: 10px;
  background-color: lightgreen;
}

.finish_work_list {
  padding: 10px;
  background-color: pink;
}

.go_homepage{
  width: 235px;
  margin : auto;
  display: block;
  height: 40px;
  line-height: 40px;
  border:none;
  font-weight: bold;
  color: white;
  background-color:rebeccapurple;
  text-align:center;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 165px;
  width: 100%;
  padding: 0 15px;
  line-height: 30px;
  color: white;
  border-top: 1px solid #dee5e7;
  background-color: rebeccapurple;
}

.loading{
  margin-top: 150px;
  display: flex;
  font-size: 40px;
  justify-content: center;
}


