* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

#back {
  background: bisque;
}

#logout {
  margin: 5px;
  float: right;
  align-items: center;
}

#login {
  margin: 5px;
  float: right;
  align-items: center;
}

#signin {
  margin: 5px;
  float: right;
  align-items: center;
}

#header-right {
  font-weight: bold;
  background-color: #bbbbbb;
  font-size: 21px;
  color: white;
  padding: 20px;
  background-image: url("https://www.cre-verse.io/images/news/news4.jpg");
}

.check {
  margin:40px auto;
  width: 235px;
  height: 40px;
  line-height: 40px;
  border:none;
  font-weight: bold;
  color: lightgreen;
  background-color:royalblue;
  text-align:center;
  cursor: pointer;

}

.go_to_work_list {
  padding: 10px;
  background-color: lightgreen;
}

.finish_work_list {
  padding: 10px;
  background-color: pink;
}

.footer {
  position: absolute;
  bottom: 0;
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0 25px;
  line-height: 60px;
  color: #8a8c8f;
  border-top: 1px solid #dee5e7;
  background-color: tomato;
}