<!-- todo: 로그인을 하지 않으면 로그인 창이 보이지만 페이지 경로는 그대로이네요.
      슬렉으로 답변은 받았습니다. 어려울 수 있다고 생각하고 있었습니다.
      라우터 훅을 이용해서 경로를 컨트롤 해야 합니다.
      엇그제 플로우 예시 보여준것처럼요.
      훅 api는 공식 홈에서 보기 힘드시면
      한글: https://meteorjs.kr/router/api/hooks.html
      고칠 수 있겠다 싶으면 고쳐보세요. 이미 라우터 구현해둬서 훅 몇개만 넣으면 되거든요?
      안될거 같으면... 내일 봐야죠.
 -->
<!-- solution: 수정 완료. 그러나 라우터 훅에 대해서는 공부가 필요
 -->


<template name="attendance_system">

  {{#if isLogin}}
    <button class="go_to_work">출근</button>
    <button class="finish_work">퇴근</button>

    {{> attendance_list}}

  {{else}}

    <!-- 11.29 수정-->
    {{no_login}}
    <!-- 11.29 수정-->

  {{/if}}
</template>
