<template name="footer">
  <footer>
    <div class="footer">

      <a href="https://www.cre-verse.io/" style="color:white">
        <span>(주)크리버스</span><span> | </span>
      </a>
      <span>대표자명: 나연</span><span> | </span>
      <span>사업자등록번호 : 000-00-0000</span>

      <a href="http://kko.to/q4aYZ4pExn" style="color:white">
        <p>주소: (06149) 서울 강남구 선릉로99길16(역삼동) 2층</p>
      </a>

      <a href="tel:010-2211-0061" style="color:white">
        <p>대표 연락처: 010-2211-0061</p>
      </a>

      <a href= "mailto:workyks@gmail.com" style="color:white">
        <p>E-mail: workyks@gmail.com</p>
      </a>

    </div>
  </footer>
</template>
