<template name="header">
  <div id="wrap">
    <h1>
      <a href="/">
        <img src="/creverse_logo.png" style="width: 120px">
      </a>
    </h1>

    <h3 id="main_text">
      출퇴근관리 사이트
    </h3>
    <ul class="main_button">
      {{#if is_login}}
        <li>
          <button id="logout" type="button">logout</button>
        </li>
      {{else}}
        <li>
          <button id="login" type="button">login</button>
        </li>
        <li>
          <button id="signin" type="button">signin</button>
        </li>
      {{/if}}
    </ul>
  </div>
</template>