<template name="header">
  <div>
    <h1 id="header-right">
      <a href="/">
        <img src="/logo.jpeg" style="width: 120px">
      </a>

      {{#if is_login}}
        <button id="logout" type="button" class="c-button">logout</button>
      {{else}}
        <button id="login" type="button" class="c-button">login</button>
        <button id="signin" type="button" class="c-button">signin</button>
      {{/if}}

      <h2>Attendance</h2>
      <p class="c-paragraph">
        CREVERSE is having NFT market and Wallet with Metaverse
      </p>
    </h1>
  </div>
</template>